In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist

In [2]:
data = pd.read_csv("Country-data.csv")

In [3]:
data.head()

               country  child_mort  exports  ...  life_expec  total_fer   gdpp
0          Afghanistan        90.2     10.0  ...        56.2       5.82    553
1              Albania        16.6     28.0  ...        76.3       1.65   4090
2              Algeria        27.3     38.4  ...        76.5       2.89   4460
3               Angola       119.0     62.3  ...        60.1       6.16   3530
4  Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200

[5 rows x 10 columns]

In [4]:
sum(data.duplicated(subset = 'country'))

0

In [5]:
data.drop('country',axis=1,inplace=True)
data

     child_mort  exports  health  ...  life_expec  total_fer   gdpp
0          90.2     10.0    7.58  ...        56.2       5.82    553
1          16.6     28.0    6.55  ...        76.3       1.65   4090
2          27.3     38.4    4.17  ...        76.5       2.89   4460
3         119.0     62.3    2.85  ...        60.1       6.16   3530
4          10.3     45.5    6.03  ...        76.8       2.13  12200
..          ...      ...     ...  ...         ...        ...    ...
162        29.2     46.6    5.25  ...        63.0       3.50   2970
163        17.1     28.5    4.91  ...        75.4       2.47  13500
164        23.3     72.0    6.84  ...        73.1       1.95   1310
165        56.3     30.0    5.18  ...        67.5       4.67   1310
166        83.1     37.0    5.89  ...        52.0       5.40   1460

[167 rows x 9 columns]

In [6]:
num_attrs = [item for item in data.columns if data[item].dtype != "O"]

In [7]:
cat_attrs = [item for item in data.columns if data[item].dtype == "O"]

In [8]:
fullpipeline = ColumnTransformer([
    ('num',StandardScaler(),num_attrs),
    ('cat',OneHotEncoder(),cat_attrs)
])

In [9]:
i = range(1, 10)
distortions = []
inertias = []
map1 = {}
map2 = {}


for i in i:
	# Building and fitting the model
	kmeanModel = KMeans(n_clusters=i).fit(data)
	kmeanModel.fit(data)

	distortions.append(sum(np.min(cdist(data, kmeanModel.cluster_centers_,
										'euclidean'), axis=1)) / data.shape[0])
	inertias.append(kmeanModel.inertia_)

	map1[i] = sum(np.min(cdist(data, kmeanModel.cluster_centers_,
								'euclidean'), axis=1)) / data.shape[0]
	map2[i] = kmeanModel.inertia_

In [11]:
for k, v in map1.items():
	print(f'{k} : {v}')

1 : 19671.38597380213
2 : 10505.528626965714
3 : 8957.445452007709
4 : 7090.875125861968
5 : 5464.316148424782
6 : 4833.740712394116
7 : 4431.3170407585385
8 : 4190.410572727076
9 : 3355.4136329929065

In [15]:
kmodel = KMeans(n_clusters=2)
kmodel.fit(data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [16]:
data2 = data.iloc[:15]
data2

    child_mort  exports  health  ...  life_expec  total_fer   gdpp
0         90.2     10.0    7.58  ...        56.2       5.82    553
1         16.6     28.0    6.55  ...        76.3       1.65   4090
2         27.3     38.4    4.17  ...        76.5       2.89   4460
3        119.0     62.3    2.85  ...        60.1       6.16   3530
4         10.3     45.5    6.03  ...        76.8       2.13  12200
5         14.5     18.9    8.10  ...        75.8       2.37  10300
6         18.1     20.8    4.40  ...        73.3       1.69   3220
7          4.8     19.8    8.73  ...        82.0       1.93  51900
8          4.3     51.3   11.00  ...        80.5       1.44  46900
9         39.2     54.3    5.88  ...        69.1       1.92   5840
10        13.8     35.0    7.89  ...        73.8       1.86  28000
11         8.6     69.5    4.97  ...        76.0       2.16  20700
12        49.4     16.0    3.52  ...        70.4       2.33    758
13        14.2     39.5    7.97  ...        76.7       1.78  16000
14         5.5     51.4    5.61  ...        70.4       1.49   6030

[15 rows x 9 columns]

In [17]:
print('Predictions : ',kmodel.predict(data2))

Predictions :  [0 0 0 0 0 0 0 1 1 0 0 1 0 0 0]